<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/main_layout}">
	<head>
		<title>Upload Files</title>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
	</head>
	<body>
		<div layout:fragment="content" class="container mySpace">
			<h1>Upload Files</h1>
			<br />
			<form method="POST" action="/upload" enctype="multipart/form-data">
			    <input type="file" accept = "audio/mp3" multiple name="file" /><br/><br/>
			    <input type="submit" value="Submit" />
			</form>
			<br>
			<div th:if="${message}">
			    <h4 th:utext="${#strings.replace( #strings.escapeXml(message),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></h4>
			</div>
		</div>
	</body>
</html>