<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/main_layout}">
	<head>
		<title>Resources Used</title>
		<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
	</head>
	<body>
		<div layout:fragment="content" class="container mySpace">
			<h2>Resources Used</h2>
			<hr />
			 <div>
		        <i>Below are all the links that helped me during the development of this website. Feel free to explore them if you need anything for your project(s). Have fun coding!</i>
		    </div>
		    <hr />
		    <p>
		    	<strong>Reading</strong>
		        <br />
		        <br />
		        <a href="https://www.jackrutorial.com/2018/04/spring-boot-user-registration-login.html" target="_blank">Spring Boot Registration/Login System</a>
        		<br />
        		<a href="https://spring.io/tools" target="_blank">Download Spring Tool Suite</a>
        		<br />
        		<a href="https://www.javaguides.net/2018/11/spring-boot-spring-mvc-spring-security-hibernate-mysql-tutorial.html" target="_blank">Java Register/Login</a>
        		<br />
        		<a href="http://www.canchito-dev.com/public/blog/2017/04/16/build-a-project-with-spring-initializer-or-spring-tool-suite/" target="_blank">Import Project Into STS</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/13623015/how-to-show-the-project-explorer-window-in-eclipse" target="_blank">Show Project Explorer Into STS (Spring Tool Suite)</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/19655184/no-compiler-is-provided-in-this-environment-perhaps-you-are-running-on-a-jre-ra" target="_blank">'No compiler is provided in this environment' Fix</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/40118878/8080-port-already-taken-issue-when-trying-to-redeploy-project-from-spring-tool-s" target="_blank">8080 Port Taken Fix</a>
        		<br />
        		<a href="https://memorynotfound.com/spring-boot-spring-security-thymeleaf-form-login-example/" target="_blank">Thymeleaf Tutorial</a>
        		<br />
        		<a href="https://www.mkyong.com/spring-boot/spring-boot-file-upload-example/" target="_blank">Upload Files In Spring Boot</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/44028875/spring-boot-2-0-0-m1-where-is-the-package-org-springframework-boot-context-embe" target="_blank">Spring Boot 2 Changes For Uploading Files^</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/30394419/thymeleaf-spring-how-to-keep-line-break" target="_blank">Thymeleaf + Newline</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/33214214/how-to-get-the-real-extension-type-of-multipart-file" target="_blank">Get Multipart File Extension</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/924394/how-to-get-the-filename-without-the-extension-in-java" target="_blank">Get File Name Without Extension</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/8989746/how-to-get-size-of-file-in-mb" target="_blank">Get Size Of File In MB</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/22186778/using-math-round-to-round-to-one-decimal-place" target="_blank">Round To One Decimal Place</a>
        		<br />
        		<a href="https://www.mkyong.com/java/java-how-to-get-current-date-time-date-and-calender/" target="_blank">Get Current Date</a>
        		<br />
        		<a href="https://spring.io/guides/gs/accessing-data-mysql/" target="_blank">Access Database With Spring Boot</a>
        		<br />
        		<a href="https://dzone.com/articles/how-to-get-current-logged-in-username-in-spring-se" target="_blank">Get Current Logged In User</a>
        		<br />
        		<a href="https://www.linkedin.com/pulse/check-logged-user-thymeleaf-spring-security-4-amir-boroumand" target="_blank">Dynamic Template Switching Based On Guest/Logged</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/36744655/for-each-operator-in-thymeleaf" target="_blank">Thymeleaf 'foreach'</a>
        		<br />
        		<a href="https://www.w3schools.com/tags/tag_audio.asp" target="_blank">HTML Audio Tag</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/18651119/how-can-i-configure-in-thymeleaf-the-base-url" target="_blank">Thymeleaf 'src'</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/41083751/upload-and-display-images-using-thymeleaf-and-springboot" target="_blank">Access Uploads Folder</a>
        		<br />
        		<a href="https://www.w3schools.com/css/css_float.asp" target="_blank">Fix For CSS Floating When Not Needed</a>
        		<br />
        		<a href="https://www.w3schools.com/html/html_entities.asp" target="_blank">Non-Breaking Space HTML</a>
        		<br />
        		<a href="https://docs.oracle.com/javase/7/docs/api/java/text/SimpleDateFormat.html" target="_blank">DateTime Format</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/16119421/thymeleaf-concatenation-could-not-parse-as-expression" target="_blank">Combine Thymeleaf & Normal Text</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/11598977/get-size-of-an-iterable-in-java" target="_blank">Get Size Of Iterable</a>
        		<br />
        		<a href="https://www.javainuse.com/spring/boot-file-download" target="_blank">Download File With Spring Boot</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/33753975/thymeleaf-using-path-variables-to-thhref" target="_blank">Thymeleaf 'href'</a>
        		<br />
        		<a href="https://www.quickprogrammingtips.com/java/how-to-remove-extension-from-filename-in-java.html" target="_blank">Remove Extension From File Name</a>
        		<br />
        		<a href="https://www.mkyong.com/java/java-convert-string-to-int/" target="_blank">String To Int</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/36555551/spring-boot-mvc-dao-java-lang-nullpointerexception-null" target="_blank">Null Pointer [~classes/na] Error Fix</a>
        		<br />
        		<a href="https://www.geeksforgeeks.org/delete-file-using-java/" target="_blank">Delete File</a>
        		<br />
        		<a href="https://www.baeldung.com/spring-redirect-and-forward" target="_blank">Redirect To Another View</a>
        		<br />
        		<a href="https://www.baeldung.com/thymeleaf-boolean" target="_blank">Thymeleaf Booleans</a>
        		<br />
        		<a href="https://www.w3schools.com/cssref/css3_pr_word-wrap.asp" target="_blank">Word-Break</a>
        		<br />
        		<a href="https://github.com/froala/angular-froala/issues/170" target="_blank">'Refused to apply style from <URL> because its MIME type is not a supported stylesheet MIME type, and strict MIME checking is enabled' Fix</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/43121788/how-to-escape-single-quote-in-thymeleaf" target="_blank">Escape Single Quote In Thymeleaf</a>
        		<br />
        		<a href="https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_link_mailto" target="_blank">Create Email Link In HTML</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/35090329/how-to-display-current-logged-in-users-information-in-all-templates-including-v" target="_blank">Get Current Logged In User In Thymeleaf</a>
        		<br />
        		<a href="https://spring.io/guides/gs/handling-form-submission/" target="_blank">Form Submission Spring Boot</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/24420572/update-or-saveorupdate-in-crudrespository-is-there-any-options-available" target="_blank">Update Entity With JPA</a>
        		<br />
        		<a href="https://www.baeldung.com/spring-boot-favicon" target="_blank">Change Favicon In Spring Boot</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/46302090/spring-boot-custom-favicon-ico-not-showing?rq=1" target="_blank">Favicon Not Showing Fix</a>
        		<br />
        		<a href="https://www.baeldung.com/spring-security-expressions" target="_blank">Spring Security Expressions</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/34177873/max-limit-of-multipartfile-in-spring-boot" target="_blank">Set Max Limit Of Multipart File In Spring Boot</a>
        		<br />
        		<a href="https://stackoverflow.com/questions/33939901/getting-size-and-lastmodified-from-multipartfile-java" target="_blank">Get Size Of Multipart File</a>
        		<br />
				<a href="https://www.tutorialspoint.com/validate-email-address-in-java" target="_blank">Check Email Validity</a>
				<hr />
		        <strong>Watching</strong>
		        <br />
		        <br />
		        <a href="https://www.youtube.com/watch?v=V3rvY9j1ro0" target="_blank">Spring Boot Registration, Login Page With Spring MVC, JPA, Bootstrap 4, Hibernate And MySQL (Part 1)</a>
        		<br />
        		<a href="https://www.youtube.com/watch?v=numjytOmSeY" target="_blank">Spring Boot Registration, Login Page With Spring MVC, JPA, Bootstrap 4, Hibernate And MySQL (Part 2)</a>
        		<br />
        		<a href="https://www.youtube.com/watch?v=wSFZxrEKhxI" target="_blank">Thymeleaf Templating And Layout</a>
        		<br />
        		<a href="https://www.youtube.com/watch?v=RWJ_8lu-Rks" target="_blank">Form Registration And Validation</a>
        		<br />
        		<a href="https://www.youtube.com/watch?v=u0LvoH_DwFU" target="_blank">Dark Theme In Spring Tool Suite (STS)</a>
        		<br />
        	</p>
		</div>
	</body>
</html>